
body {
    background-image: url('https://wallpapers.com/images/hd/profile-picture-background-npa9yae86g2tj6xs.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}

.formulario {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}