body {
  background-color: #223343;
}

.card-header {
  height: 450px;
}

.card {
  /* background-color: rgb(70, 130, 180); */
  background-color: #f0f8ff;
}

.card-title {
  color: #0000ff;
}

.txt-details {
  color: #223343;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

img {
  width: 100%;
  height: 100%;
}
